// FOOTER :: START

footer#footer.footer
	.c-grid
		.footer__wrapper.footer__wrapper-1
			div

				.logo.logo--footer
					a.logo__btn(href="/")
						img.logo__image(src='img/logo.svg')

				p.footer__description.footer__description-1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

				.follow
					p.follow__title Follow Us
					.follow__wrapper
						a(href="#")
							i.icon-font.icon-facebook
						a(href="#")
							i.icon-font.icon-twitter
						a(href="#")
							i.icon-font.icon-instagram
						a(href="#")
							i.icon-font.icon-youtube

			div

				p.footer__title Browse by category

				.footer__nav-wrapper
					div
						ul.footer__nav-list
							li.footer__nav-item
								a(href="#") music
							li.footer__nav-item
								a(href="#") production
							li.footer__nav-item
								a(href="#") marketing
							li.footer__nav-item
								a(href="#") music law
							li.footer__nav-item
								a(href="#") publishing
							li.footer__nav-item
								a(href="#") sync & licensing
							li.footer__nav-item
								a(href="#") videography
							li.footer__nav-item
								a(href="#") recording studio

					div

						ul.footer__nav-list
							li.footer__nav-item
								a(href="#") music
							li.footer__nav-item
								a(href="#") streaming
							li.footer__nav-item
								a(href="#") management
							li.footer__nav-item
								a(href="#") touring
							li.footer__nav-item
								a(href="#") sound & lighting
							li.footer__nav-item
								a(href="#") graphic design
							li.footer__nav-item
								a(href="#") fashion
							li.footer__nav-item
								a(href="#") photography

			div

				p.footer__title Our Newsletter

				p.footer__description.footer__description-2 To stay on top of the ever-changing world of Cosound, subscribe now to our newsletters and beta list.

				.subscribe
					input(type='text' id="subscribe" name='subscribe' placeholder='pre-register for our beta')
					label(for='subscribe')
						button(type='submit') SIGN UP

				p.footer__description *we hate spam as much as you do


		.footer__wrapper.footer__wrapper-2

			div

				.copyright
					p.copyright__text © 2020 Community of Sound Limited  - a social network & marketplace created for the music industry

			div

				ul.footer__menu
					li.footer__menu-item
						a(href="#") About
					li.footer__menu-item
						span /
					li.footer__menu-item
						a(href="#") Press
					li.footer__menu-item
						span /
					li.footer__menu-item
						a(href="#") Privacy & Policy
					li.footer__menu-item
						span /
					li.footer__menu-item
						a(href="#") Contact Us

// FOOTER :: END
