// HEADER :: START

header#header.header
	.c-grid

		.header__wrapper
			.header__wrapper-left

				.logo.logo--header
					a.logo__btn(href="#")
						img.logo__image(src="img/logo-small.svg" alt="")

			.header__wrapper-middle

				.header__nav
					a.header__nav-link(href="#") roadmap
					a.header__nav-link(href="#") mission
					a.header__nav-link(href="#") pricing
					a.header__nav-link(href="#") news & blog

			.header__wrapper-right

				p.header__desc let’s get your groove on

// HEADER :: END
