// SECTION :: START

.connect {
	overflow: hidden;
	padding-top: 10px;

	&__title {
		padding-left: 20px;
		padding-bottom: 10px;
		@extend %fontAndaleMonoMTStd;
		font-size: 96px;
		color: rgb(45,49,54);
		letter-spacing: 8.8px;
		text-align: center;
		line-height: 97px;
		@include adaptive(1439) {
			padding-left: 0;
			font-size: 86px;
		}
		@include adaptive(1365) {
			font-size: 76px;
		}
		@include adaptive(1279) {
			font-size: 66px;
			line-height: 74px;
		}
		@include adaptive(1023) {
			font-size: 56px;
		}
		@include adaptive(767) {
			font-size: 45px;
			letter-spacing: 2px;
			line-height: normal;
		}

		span {
			@extend %fontAndaleMono;
		}
	}

	&__subtitle {
		width: 100%;
		max-width: 390px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 37px;
		font-weight: 500;
		font-size: 18px;
		color: #000000;
		letter-spacing: 0;
		text-align: center;
		@include adaptive(767) {
			font-size: 16px;
		}
	}

	&__btn {
		display: flex;
		justify-content: center;
	}

	&__content {
		position: relative;
		width: 100%;
		max-width: 1230px;
		margin-left: auto;
		margin-right: auto;

		&-line {
			position: absolute;
			top: 67px;
			right: 29px;
			width: 3px;
			height: 100px;
			background-color: #181818;
			@include adaptive(767) {
				display: none;
			}
		}

		> div {
			width: 100%;
			max-width: 730px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__visual {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		padding-bottom: 74px;
		@include adaptive(767) {
			padding-bottom: 50px;
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
			transform: translateX(-174px);
			@include adaptive(1279) {
				transform: translateX(0);
			}
		}
	}
}

// SECTION :: END
