// SECTION :: START

.news {
	position: relative;
	top: -13px;
	padding-bottom: 51px;

	&__wrapper {
		&-1 {
			display: flex;
			padding-bottom: 68px;
		}

		&-2 {
			display: flex;
			justify-content: flex-end;
			padding-right: 169px;
		}

		&-left,
		&-middle,
		&-right {
			> div {
				display: flex;
				flex-direction: column;
				width: 100%;
			}
		}

		&-left {
			width: 100%;
			max-width: 283px;
			background-color: #191919;

			&--header {
				padding: 58px 59px 57px;

				img {
					margin-bottom: 32px;
				}
			}

			&--body {
				padding-left: 60px;
				padding-bottom: 80px;
			}

			&--action {
				display: flex;
				align-items: center;
				min-height: 75px;
				padding: 15px 10px 15px 45px;
				background-color: #3759f0;
			}

			&--footer {
				position: relative;
				width: 100%;
				height: 273px;

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
		}

		&-middle {
			width: calc(100% + 113px);
			padding-top: 132px;

			&--header {
				display: flex;
				align-items: center;
				min-height: 170px;
				padding: 30px 50px 15px 75px;
				background-color: #3759f0;

				> div {
					> p {
						@extend %fontAndaleMonoMTStd;
						font-size: 42px;
						color: #FFFFFF;
						letter-spacing: 0.11px;
						line-height: 1;
					}

					> span {
						display: block;
						font-weight: 500;
						font-size: 18px;
						color: #FFFFFF;
						letter-spacing: 0;
					}
				}
			}

			&--body {
				display: flex;
				align-items: flex-end;
				height: 598px;
				padding: 65px 72px;
				background-color: #191919;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}

			&-title {
				padding-bottom: 3px;
				@extend %fontAndaleMonoMTStd;
				font-size: 32px;
				color: #FFFFFF;
				letter-spacing: 0.2px;
			}

			&-subtitle {
				padding-bottom: 46px;
				font-weight: 500;
				font-size: 18px;
				color: #FFFFFF;
				letter-spacing: 0;
			}
		}

		&-right {
			width: calc(100% - 113px);
			padding-top: 133px;

			&--body {
				position: relative;
				height: 588px;
				background-color: #191919;
			}

			&--footer {
				position: relative;
				width: 100%;
				max-width: calc(50% - 1px);
				min-height: 311px;
				padding: 39px 36px 32px 43px;
				background-color: #191919;
				border-bottom: 1px solid #F2905F;
			}
		}
	}

	&__divider {
		display: block;
		max-width: 100%;
		height: auto;

		&-1 {
			position: relative;
			left: -22px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 98px;
		}
	}

	&__title {
		@extend %fontAndaleMonoMTStd;
		font-size: 42px;
		color: #FFFFFF;
		letter-spacing: 0.26px;
		line-height: 40px;
	}

	&__nav {
		overflow: hidden;
		display: flex;
		flex-direction: column;

		&-item {
			padding-bottom: 24px;
		}

		&-link {
			position: relative;
			display: flex;
			flex-direction: column;

			&:after {
				opacity: 0;
				visibility: hidden;
				transform: translateX(100%);
				content: '';
				position: absolute;
				top: calc(100% + 9px);
				left: 0;
				width: 100%;
				height: 1px;
				background-color: rgba(#fff, 0.5);
				@include transition(opacity, visibility, transform);
			}

			&:hover {
				p {
					color: #ffffff;
					@include transition(color);
				}
			}

			&.is-active {
				&:after {
					opacity: 1;
					visibility: visible;
					transform: translateX(0);
					@include transition(opacity, visibility, transform 0.4s);
				}

				span,
				p {
					color: #ffffff;
					@include transition(color);
				}
			}

			span,
			p {
				@include transition(color);
			}

			span {
				@extend %fontAndaleMonoMTStd;
				font-size: 13px;
				color: rgba(#FFFFFF, 0.3);
				letter-spacing: 0.08px;
				line-height: 1.25;
			}

			p {
				font-size: 18px;
				color: rgba(#FFFFFF, 0.6);
				letter-spacing: 0.11px;
			}
		}
	}

	&__more {
		display: flex;
		align-items: center;
		color: #ffffff;

		&:hover {
			.icon-font {
				transform: translateX(15px) scale(0.85);
				@include transition(transform);
			}
		}

		span {
			font-size: 18px;
			color: #FFFFFF;
			letter-spacing: 0.11px;
		}

		.icon-font {
			margin-left: 26px;
			font-size: 24px;
			backface-visibility: hidden;
			transform-origin: center;
			@include transition(transform);
		}
	}

	&__desc {
		padding-bottom: 37px;
		font-size: 14px;
		color: #FFFFFF;
		letter-spacing: 0.09px;
		line-height: 23.72px;
	}

	&__btn {
		display: flex;
		align-items: center;
	}

	&__share {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 43px;
		height: 43px;
		margin-left: 30px;
		border-radius: 50%;
		background-color: transparent;
		border: 1px solid rgba(#FFFFFF, 0.5);
		@include transition(border-color);

		&:hover {
			border-color: #fff;
			@include transition(border-color);
		}

		.icon-font {
			color: #ffffff;
			font-size: 16px;
		}
	}

	&__info {
		display: flex;
		align-items: center;

		&-left,
		&-right {
			display: flex;
			align-items: center;
			color: #ffffff;
		}

		&-left {
			padding-right: 26px;
		}

		.icon-font {
			margin-right: 10px;
		}

		span {
			font-size: 13.73px;
			color: #FFFFFF;
		}
	}

	&__description {
		display: none;

		&.is-active {
			display: block;
			animation-fill-mode: both;
			animation-duration: 1s;
			animation-timing-function: ease-in-out;
			animation-name: fadeToggle;
		}
	}

	&__slider {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translateX(100%);
		backface-visibility: hidden;
		transform-origin: center;
		@include transition(opacity, visibility, transform 0.5s);

		&.is-active {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
			@include transition(opacity, visibility, transform 0.5s);
		}

		&-header {
			z-index: 10;
			position: absolute;
			bottom: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			padding: 0 16px 30px 40px;

			> div {
				&:nth-of-type(1) {
					padding-left: 5px;
				}
				&:nth-of-type(2) {
					width: 100px;
				}
			}
		}

		&-title {
			@extend %fontAndaleMonoMTStd;
			font-size: 30px;
			color: #FFFFFF;
			letter-spacing: 0px;
		}

		&-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 31px;
			height: 31px;
			border-radius: 50%;
			margin-left: 8px;
			margin-right: 8px;
			background-color: #ffffff;

			&.swiper-button-disabled {
				pointer-events: none;
				background-color: transparent;

				.icon-font {
					color: #ffffff;
				}
			}

			&-wrapper {
				display: flex;
				align-items: center;
			}

			&--prev {}
			&--next {
				.icon-font {
					transform: scale(-1);
				}
			}

			.icon-font {
				color: #000;
				font-size: 12px;
			}
		}

		&-container {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.swiper {
		&-container {
			width: 100%;
			height: 100%;
		}
		&-slide {
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}
}

@keyframes fadeToggle {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

// SECTION :: END
