// SCRIPT :: START

script(src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js")

if(env)
	script(src="js/bundle.min.js")
else
	script(src="js/vendor.js")
	script(src="js/app.js")

// SCRIPT :: END
