// BUTTON :: START

// ==================================================
// ==================================================
// ==================================================

$bth-width: unset;
$bth-height: 43px;
$btn-border-width: 1px;
$btn-border-color: rgba(#000, 0);
$bth-border-radius: 2em;
$bth-box-shadow: none;
//$bth-background-color: rgba(#000, 1);
$bth-color: rgba(#fff, 1);
$bth-font-size: rgba(#000, 1);
$bth-font-weight: bold;

$btn-color--border: rgba(#000, 1);

// ==================================================
// ==================================================
// ==================================================

.c-btn {
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: $bth-width;
  height: $bth-height;
  border: $btn-border-width solid $btn-border-color;
  box-shadow: $bth-box-shadow;
  border-radius: $bth-border-radius;
  color: $bth-color;
  font-size: $bth-font-size;
  font-weight: $bth-font-weight;

  &--bg {
		padding-left: 20px;
		padding-right: 20px;
		@include transition(transform, background-color, box-shadow);

		&:hover {
			transform: translateY(-5px);
			box-shadow: 5px 5px 0 0 rgba(#000, 0.1);
			@include transition(transform, background-color, box-shadow);
		}

		.icon-font,
		span {
			@include transition(color);
		}

		.icon-font {
			margin-right: 12px;
		}

		span {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 13px;
			letter-spacing: 0.6px;
		}

		&-yellow {
			background-color: #f0af37;

			&:hover {
				background-color: #3759f0;
			}

			span,
			.icon-font {
				color: #ffffff;
			}
		}

		&-white {
			background-color: #FFFFFF;

			&:hover {
				background-color: #3759f0;

				.icon-font,
				span {
					color: #ffffff;
					@include transition(color);
				}
			}

			span,
			.icon-font {
				color: #757575;
			}
		}
  }
}

// BUTTON :: END
