// SECTION :: START

.about-description {
	padding-top: 97px;
	padding-bottom: 119px;
	@include adaptive(1279) {
		padding-top: 75px;
		padding-bottom: 100px;
	}
	@include adaptive(1023) {
		padding-top: 50px;
		padding-bottom: 80px;
	}
	@include adaptive(767) {
		padding-bottom: 55px;
	}

	&__wrapper {
		display: flex;
		width: 100%;
		max-width: 933px;
		margin-left: auto;
		margin-right: auto;
		@include adaptive(767) {
			flex-wrap: wrap;
		}

		&-left,
		&-right {
			width: 50%;
			@include adaptive(767) {
				width: 100%;
			}
		}

		&-left {
			padding-right: 43px;
			@include adaptive(1023) {
				padding-right: 20px;
			}
			@include adaptive(767) {
				padding: 0;
			}
		}

		&-right {
			padding-left: 49px;
			@include adaptive(1023) {
				padding-left: 20px;
			}
			@include adaptive(767) {
				padding: 0;
			}
		}
	}

	&__text {
		padding-bottom: 20px;
		font-size: 14px;
		color: #000000;
		letter-spacing: 0.09px;
		line-height: 1.75;
	}
}

// SECTION :: END
