// SECTION :: START

.about-main {
	position: relative;

	&__bg {
		z-index: 0;
		position: absolute;
		top: -10px;
		left: 0;
		width: 100%;
		height: calc(100% - 33px);
		background-color: #2d3136;
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		display: flex;
		padding: 77px 58px 62px;
		background-color: #3759f0;
		box-shadow: 0 20px 40px 0 rgba(0,0,0,0.24);
		@include adaptive(1365) {
			padding: 60px 50px;
		}
		@include adaptive(1023) {
			padding: 50px 30px;
		}
		@include adaptive(767) {
			padding: 40px 20px;
		}

		&-left,
		&-right {
			position: relative;
			width: 50%;
			@include adaptive(767) {
				width: 100%;
			}
		}

		&-left {
			@include adaptive(767) {
				display: none;
			}
		}
	}

	&__title {
		@extend %fontAndaleMonoMTStd;
		font-size: 143px;
		color: $c-white;
		letter-spacing: 0;
		text-align: right;
		line-height: 127px;
		@include adaptive(1439) {
			font-size: 123px;
			line-height: 117px;
		}
		@include adaptive(1365) {
			font-size: 103px;
			line-height: 107px;
		}
		@include adaptive(1279) {
			font-size: 93px;
			line-height: normal;
		}
		@include adaptive(1023) {
			font-size: 83px;
		}
		@include adaptive(767) {
			font-size: 60px;
		}
	}

	&__line {
		position: absolute;
		background-color: #FFFFFF;
		transform-origin: center;
		backface-visibility: hidden;
		animation-fill-mode: both;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;

		&-1 {
			top: -20px;
			left: -7px;
			width: 4px;
			height: 70px;
			animation-name: animateLine1;
			@include adaptive(1023) {
				top: 0;
				left: 0;
			}
			@include adaptive(767) {
				width: 3px;
			}
		}

		&-2 {
			right: 21px;
			bottom: -18px;
			width: 140px;
			height: 4px;
			animation-delay: 1s;
			animation-name: animateLine2;
			@include adaptive(1023) {
				right: 0;
				bottom: 0;
			}
			@include adaptive(767) {
				height: 3px;
			}
		}
	}
}

@keyframes animateLine1 {
	from {
		height: 0;
	}
	50% {
		height: 70px;
	}
	to {
		height: 0;
	}
}

@keyframes animateLine2 {
	from {
		width: 0;
	}
	50% {
		width: 140px;
	}
	to {
		width: 0;
	}
}

// SECTION :: END
