// SECTION :: START

.about-main {
	position: relative;

	&__bg {
		z-index: 0;
		position: absolute;
		top: -10px;
		left: 0;
		width: 100%;
		height: calc(100% - 33px);
		background-color: #2d3136;
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		display: flex;
		padding: 57px 58px 44px;
		background-color: #3759f0;
		box-shadow: 0 20px 40px 0 rgba(0,0,0,0.24);

		&-left,
		&-right {
			position: relative;
			width: 50%;
		}
	}

	&__title {
		@extend %fontAndaleMonoMTStd;
		font-size: 143px;
		color: $c-white;
		letter-spacing: 0;
		text-align: right;
		line-height: 127px;
	}

	&__line {
		position: absolute;
		background-color: #FFFFFF;
		transform-origin: center;
		backface-visibility: hidden;
		animation-fill-mode: both;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;

		&-1 {
			top: 0;
			left: 0;
			width: 4px;
			height: 70px;
			animation-name: animateLine1;
		}

		&-2 {
			right: 0;
			bottom: 0;
			width: 140px;
			height: 4px;
			animation-delay: 1s;
			animation-name: animateLine2;
		}
	}
}

@keyframes animateLine1 {
	from {
		height: 0;
	}
	50% {
		height: 70px;
	}
	to {
		height: 0;
	}
}

@keyframes animateLine2 {
	from {
		width: 0;
	}
	50% {
		width: 140px;
	}
	to {
		width: 0;
	}
}

// SECTION :: END
