// SECTION :: START

.about-video {
	&__wrapper {
		display: flex;
		min-height: 600px;
		@include adaptive(767) {
			flex-wrap: wrap;
		}

		&-left {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			@include adaptive(767) {
				min-height: 75vh;
			}
		}

		&-right {
			width: 180px;
			@include adaptive(1279) {
				width: 150px;
			}
			@include adaptive(767) {
				width: 100%;
				padding: 30px 15px;
			}
		}
	}

	&__container {
		position: relative;
		width: 100%;
		height: 100%;
		background-color: #d8d8d8;

		video {
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__content {
		z-index: 2;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 100%;
		padding: 95px 80px 92px;
		@include adaptive(1023) {
			padding: 50px 30px;
		}
		@include adaptive(767) {
			padding: 30px 15px;
		}
	}

	&__title {
		@extend %fontAndaleMonoMTStd;
		font-size: 50px;
		color: #FFFFFF;
		letter-spacing: -1px;
		line-height: 64px;
		@include adaptive(1365) {
			font-size: 45px;
		}
		@include adaptive(1023) {
			font-size: 40px;
		}
		@include adaptive(767) {
			font-size: 35px;
		}
	}

	&__subtitle {
		@extend %fontAndaleMonoMTStd;
		font-size: 30px;
		color: #FFFFFF;
		letter-spacing: 0.9px;
		line-height: 60px;
		@include adaptive(1365) {
			font-size: 26px;
		}
		@include adaptive(1023) {
			font-size: 22px;
		}
		@include adaptive(767) {
			font-size: 18px;
		}
	}

	&__divider {
		display: block;
		max-width: 100%;
		height: auto;
		margin-top: 6px;
		margin-left: 40px;
		@include adaptive(1023) {
			margin-left: 0;
		}
		@include adaptive(767) {
			transform-origin: 0 0;
			transform: scale(0.5);
		}
	}

	&__play {
		z-index: 15;
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: #ffffff;
		@include transition(box-shadow, transform);
		@include adaptive(1023) {
			width: 80px;
			height: 80px;
		}
		@include adaptive(767) {
			width: 75px;
			height: 75px;
		}

		&:hover {
			box-shadow: 0 5px 10px 0 rgba(#000, 0.15);
			transform: scale(0.9);
			@include transition(box-shadow, transform);
		}

		&.is-play {
			.icon-font {
				@include transition(opacity, transform);

				&.icon-play {
					opacity: 0;
					transform: rotate3d(0,1,0, 90deg);
				}
				&.icon-pause {
					opacity: 1;
					transform: rotate3d(0,1,0, 0deg);
				}
			}
		}

		.icon-font {
			position: absolute;
			color: #d8d8d8;
			font-size: 30px;
			transform-origin: 0 0;
			backface-visibility: hidden;
			@include transition(opacity, transform);
			@include adaptive(767) {
				font-size: 26px;
			}

			&.icon-play {
				position: relative;
				left: 3px;
			}
			&.icon-pause {
				opacity: 0;
				transform: rotate3d(0,1,0, 90deg);
			}
		}
	}

	&__action {
		z-index: 10;
		position: absolute;
		bottom: 44px;
		left: 0;
		display: flex;
		align-items: center;
		width: 100%;
		height: 30px;
		padding: 0 41px;
		@include adaptive(1023) {
			padding-right: 30px;
		}
		@include adaptive(767) {
			left: auto;
			right: 0;
			bottom: 30px;
			flex-direction: column;
			align-items: flex-end;
			height: auto;
			max-width: calc(100% - 100px);
			padding-left: 0;
			padding-right: 15px;
		}

		> div {
			&:nth-of-type(1) {
				width: 130px;
				@include adaptive(767) {
					display: none;
				}
			}
			&:nth-of-type(2) {
				flex: 1;
				min-width: 1px;
				max-width: 100%;
				@include adaptive(1023) {
					padding-left: 15px;
					padding-right: 15px;
				}
				@include adaptive(767) {
					padding-left: 0;
					padding-right: 0;
					padding-bottom: 30px;
				}
			}
			&:nth-of-type(3) {
				width: 130px;
				@include adaptive(1023) {
					display: flex;
					justify-content: flex-end;
				}
				@include adaptive(767) {

				}
			}
		}
	}

	&__time {
		display: flex;
		align-items: center;

		> * {
			@extend %fontAndaleMonoMTStd;
			font-size: 15px;
			color: #FFFFFF;
			letter-spacing: 1px;
			@include adaptive(1023) {
				font-size: 14px;
			}
		}

		&-divider {
			margin-left: 18px;
			margin-right: 18px;
			@include adaptive(1023) {
				margin-left: 10px;
				margin-right: 10px;
			}
		}
	}

	&__volume {
		position: relative;
		top: -3px;
		display: flex;
		align-items: center;
		justify-content: center;

		> div {
			&:nth-of-type(1) {
				padding-right: 15px;
			}
			&:nth-of-type(2) {
				@include adaptive(1023) {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}
			}
			&:nth-of-type(3) {
				padding-left: 15px;
			}
		}

		&-btn {
			display: flex;
			@include transition(opacity);

			&:hover {
				opacity: 0.75;
				@include transition(opacity);
			}

			.icon-font {
				color: #ffffff;
				font-size: 20px;
			}
		}

		&-progress {
			position: relative;
			display: flex;
		}

		input[type=range] {
			outline: none;
			cursor: pointer;
			appearance: none;
			width: 100%;
			max-width: 240px;
			height: 5px;
			margin: auto;
			padding: 0;
			border-radius: 2em;
			background-color: rgba(#fff, 0.35);
			background-image: linear-gradient(#fff, #fff);
			background-size: 0 100%;
			background-repeat: no-repeat;
		}
		input[type=range]::-webkit-slider-runnable-track {
			box-shadow: none;
			border: none;
			background: transparent;
			appearance: none;
		}
		input[type=range]::-moz-range-track {
			box-shadow: none;
			border: none;
			background: transparent;
		}
		input[type=range]::-moz-focus-outer {
			border: 0
		}
		input[type=range]::-webkit-slider-thumb {
			appearance: none;
			width: 20px;
			height: 20px;
			border-radius: 100%;
			border: 5px solid #000;
			background-color: #fff;
		}
		input[type=range]::-moz-range-thumb {
			width: 20px;
			height: 20px;
			border-radius: 100%;
			border: 5px solid #000;
			background-color: #fff;
		}
	}

	&__progress {
		z-index: 5;
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		width: 100%;
		height: 12px;
		background-color: rgba(#fff, 0.35);

		span {
			width: 0;
			height: 100%;
			background-color: #ffffff;
		}
	}

	&__nav {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: 0 36px 14px 0;
		transform: rotate(-180deg);
		@include adaptive(1279) {
			padding: 0;
		}
		@include adaptive(767) {
			flex-direction: row;
			transform: rotate(0);
		}

		&-btn,
		&-circle {
			white-space: nowrap;
			@include adaptive(767) {
				white-space: normal;
			}
		}

		&-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			width: 44px;
			@include adaptive(767) {
				width: calc(100% / 3);
				height: 44px;
				padding-left: 15px;
				padding-right: 15px;
			}

			&:hover {
				span {
					color: #3759f0;
					@include transition(color);
				}
			}

			&.is-active {
				width: 44px;
				height: 116px;
				background-color: #3759f0;
				@include adaptive(767) {
					width: calc(100% / 3);
					height: 44px;
					padding-left: 15px;
					padding-right: 15px;
				}

				span {
					color: #ffffff;
				}
			}

			&-1 {
				height: 116px;
				@include adaptive(767) {
					height: 44px;
				}
			}
			&-2 {
				height: 60px;
				@include adaptive(767) {
					height: 44px;
				}
			}
			&-3 {
				height: 120px;
				@include adaptive(767) {
					height: 44px;
				}
			}

			span {
				position: relative;
				left: -3px;
				transform: rotate(90deg);
				@extend %fontAndaleMonoMTStd;
				font-size: 13px;
				color: #252525;
				letter-spacing: 2px;
				@include transition(color);
				@include adaptive(767) {
					top: 3px;
					left: 0;
					transform: rotate(0);
					text-align: center;
				}
			}
		}

		&-circle {
			display: block;
			width: 8px;
			height: 8px;
			margin-top: 25px;
			margin-bottom: 25px;
			border-radius: 50%;
			background-color: #181818;
			@include adaptive(767) {
				display: none;
			}
		}
	}
}

// SECTION :: END
