// SECTION :: START

section#about-check.about-check

	.about-check__wrapper

		.about-check__content

			p.about-check__title
				span check out our news and resources
				i.icon-font.icon-arrow-right

		a.about-check__btn(href="#")
			.about-check__btn-border
			.about-check__btn-content
				div
					span
				div
					p MORE

// SECTION :: END
