// SECTION :: START

section#about-indication.about-indication

	.about-indication__wrapper

		.about-indication__content

			span
			span
			span
			i
			p

		.about-indication__line
			span
			span

// SECTION :: END
