// SECTION :: START

section#about-main.about-main

	.about-main__bg

	.c-grid

		a.main__btn(href="#" hamburger-js)
			i.icon-font.icon-menu

		.about-main__wrapper
			.about-main__wrapper-left
			.about-main__wrapper-right

				h1.about-main__title!= "about<br>us"

				.about-main__line.about-main__line-1(about-line1-js)
				.about-main__line.about-main__line-2(about-line2-js)

// SECTION :: END
