// SECTION :: START

section#connect.connect

	.connect__wrapper

		.connect__visual
			img(src="img/img-connect.svg" alt="")

		.connect__content
			span.connect__content-line

			div
				p.connect__title!= "<span>connect</span> collaborate create"
				p.connect__subtitle Our mission is to build a single app for independent musicians and music businesses

				.connect__btn
					a.c-btn.c-btn--bg.c-btn--bg-yellow(href="#")
						i.icon-font.icon-eye
						span read more

// SECTION :: END
