// SECTION :: START

section#menu.menu(mobile-block-js)

	.menu__wrapper.menu__wrapper-1
		.menu__content

	.menu__wrapper.menu__wrapper-2
		.menu__content

			a.menu__close(href="#" mobile-close-js)
				i.icon-font.icon-close

// SECTION :: END
