// SECTION :: START

section#news.news

	.news__wrapper.news__wrapper-1

		include _news--left

		include _news--middle

		include _news--right

	.news__wrapper.news__wrapper-2

		img.news__divider.news__divider-2(src="img/img-divider.svg" alt="")

// SECTION :: END
