.news__wrapper-middle

	img.news__divider.news__divider-1(src="img/img-divider.svg" alt="")

	div

		.news__wrapper-middle--header
			div
				p!= "<span class='letters' news-title-js>music services</span>"
				span check out the latest from our blog

		.news__wrapper-middle--body(style="background-image: url('../img/img-news-middle.jpg')")
			div
				p.news__wrapper-middle-title the private side of music
				p.news__wrapper-middle-subtitle how AI software is changing the game
				.news__btn
					a.c-btn.c-btn--bg.c-btn--bg-white(href="#")
						i.icon-font.icon-eye
						span EXPLORE
					a.news__share(href="#")
						i.icon-font.icon-share

